In [1]:
import os
import numpy as np
import pandas as pd
import sqlalchemy

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
engine = create_engine("sqlite:///diseases.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Disease_Data = Base.classes.diseases
session = Session(engine)
# from models.py import Disease

In [3]:
results = session.query(Disease_Data.Disease,func.sum(Disease_Data.CountValue),func.sum(Disease_Data.Fatalities),Disease_Data.Year).\
    group_by(Disease_Data.Disease).group_by(Disease_Data.Year).statement
df = pd.read_sql_query(results, session.bind)

In [4]:
df.head()

      Disease  sum_1  sum_2  Year
0  Diphtheria   4237   1293  1900
1  Diphtheria   3216   1215  1901
2  Diphtheria   3242   1307  1902
3  Diphtheria   3222   1210  1903
4  Diphtheria   2755   1114  1904

In [5]:
disease = ['Diphtheria',
           'Measles',
           'Mumps',
           'Pertussis',
           'Rubella',
           'Smallpox',
           'Tuberculosis',
           'Typhoid fever',
           'Varicella',
           'Viral hepatitis type B',
           'Viral hepatitis, type A']

vacyear = [1920,1963,1967,1930,1969,1796,1921,1896,1995,1982,1995]
col = ['#8dd3c7', '#bebada', '#fb8072', '#80b1d3', '#fdb462', '#b3de69', '#fccde5', '#d9d9d9', '#bc80bd', '#ccebc5', '#ffed6f'];

In [6]:
vacount = [] 
for i in range(0,len(disease)):
    df1 = df.loc[(df['Disease'] == disease[i])&
                (df['Year']==vacyear[i])]
    if len(df1) == 0:
        vacount.append(0)
    else:
        vacount.append(df1.iloc[0]['sum_1'])
    print(f'{len(df1)} {disease[i]} : {vacyear[i]}')

1 Diphtheria : 1920
1 Measles : 1963
1 Mumps : 1967
1 Pertussis : 1930
1 Rubella : 1969
0 Smallpox : 1796
1 Tuberculosis : 1921
0 Typhoid fever : 1896
0 Varicella : 1995
1 Viral hepatitis type B : 1982
1 Viral hepatitis, type A : 1995

In [7]:
print(vacount)
print(vacyear)
print(disease)

for i in range(0,len(vacount)):
    print(f'Disease: {disease[i]} Year: {vacyear[i]} Mag: {vacount[i]}')

[69470, 331082, 2498, 37216, 50998, 0, 75290, 0, 0, 17929, 294]
[1920, 1963, 1967, 1930, 1969, 1796, 1921, 1896, 1995, 1982, 1995]
['Diphtheria', 'Measles', 'Mumps', 'Pertussis', 'Rubella', 'Smallpox', 'Tuberculosis', 'Typhoid fever', 'Varicella', 'Viral hepatitis type B', 'Viral hepatitis, type A']
Disease: Diphtheria Year: 1920 Mag: 69470
Disease: Measles Year: 1963 Mag: 331082
Disease: Mumps Year: 1967 Mag: 2498
Disease: Pertussis Year: 1930 Mag: 37216
Disease: Rubella Year: 1969 Mag: 50998
Disease: Smallpox Year: 1796 Mag: 0
Disease: Tuberculosis Year: 1921 Mag: 75290
Disease: Typhoid fever Year: 1896 Mag: 0
Disease: Varicella Year: 1995 Mag: 0
Disease: Viral hepatitis type B Year: 1982 Mag: 17929
Disease: Viral hepatitis, type A Year: 1995 Mag: 294

In [47]:
var vacy = [69470, 331082, 2498, 37216, 50998, 0, 75290, 0, 0, 17929, 294]
var vacd = ['Diphtheria', 'Measles', 'Mumps', 'Pertussis', 'Rubella', 'Smallpox', 'Tuberculosis', 'Typhoid fever', 'Varicella', 'Viral hepatitis type B', 'Viral hepatitis, type A']
var vacx = [1920, 1963, 1967, 1930, 1969, 1796, 1921, 1896, 1995, 1982, 1995]

SyntaxError: invalid syntax (<ipython-input-47-01422d1c519e>, line 1)

In [54]:

circleData = [
    {'cx': vacyear[0], 'cy': vacount[0], 'radius':5, 'color': col[0],'disease':disease[0]},
    {'cx': vacyear[1], 'cy': vacount[1], 'radius':5, 'color': col[1],'disease':disease[1]},
    {'cx': vacyear[2], 'cy': vacount[2], 'radius':5, 'color': col[2],'disease':disease[2]},
    {'cx': vacyear[3], 'cy': vacount[3], 'radius':5, 'color': col[3],'disease':disease[3]},
    {'cx': vacyear[4], 'cy': vacount[4], 'radius':5, 'color': col[4],'disease':disease[4]},
    {'cx': vacyear[5], 'cy': vacount[5], 'radius':5, 'color': col[5],'disease':disease[5]},
    {'cx': vacyear[6], 'cy': vacount[6], 'radius':5, 'color': col[6],'disease':disease[6]},
    {'cx': vacyear[7], 'cy': vacount[7], 'radius':5, 'color': col[7],'disease':disease[7]},
    {'cx': vacyear[8], 'cy': vacount[8], 'radius':5, 'color': col[8],'disease':disease[8]},
    {'cx': vacyear[9], 'cy': vacount[9], 'radius':5, 'color': col[9],'disease':disease[9]},
    {'cx': vacyear[10], 'cy': vacount[10], 'radius':5, 'color': col[10],'disease':disease[10]},
]

In [55]:
print(circleData)

[{'cx': 1920, 'cy': 69470, 'radius': 5, 'color': '#8dd3c7', 'disease': 'Diphtheria'}, {'cx': 1963, 'cy': 331082, 'radius': 5, 'color': '#bebada', 'disease': 'Measles'}, {'cx': 1967, 'cy': 2498, 'radius': 5, 'color': '#fb8072', 'disease': 'Mumps'}, {'cx': 1930, 'cy': 37216, 'radius': 5, 'color': '#80b1d3', 'disease': 'Pertussis'}, {'cx': 1969, 'cy': 50998, 'radius': 5, 'color': '#fdb462', 'disease': 'Rubella'}, {'cx': 1796, 'cy': 0, 'radius': 5, 'color': '#b3de69', 'disease': 'Smallpox'}, {'cx': 1921, 'cy': 75290, 'radius': 5, 'color': '#fccde5', 'disease': 'Tuberculosis'}, {'cx': 1896, 'cy': 0, 'radius': 5, 'color': '#d9d9d9', 'disease': 'Typhoid fever'}, {'cx': 1995, 'cy': 0, 'radius': 5, 'color': '#bc80bd', 'disease': 'Varicella'}, {'cx': 1982, 'cy': 17929, 'radius': 5, 'color': '#ccebc5', 'disease': 'Viral hepatitis type B'}, {'cx': 1995, 'cy': 294, 'radius': 5, 'color': '#ffed6f', 'disease': 'Viral hepatitis, type A'}]